body{
     background-repeat: no-repeat;
     background-size: cover;
     font-family: arial;
     overflow: hidden;
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

nav .dropdown{
width: 100%;
}

.dropdown div.menu{
font-family:Arial, Helvetica, sans-serif;
font-size: 1.5em;
font-weight: bold;
text-align: center;
margin:0.1em;
padding: 0.6em;
cursor: pointer;
border-radius: 5px;
background-color:rgba(255, 255 , 255, 0.8);
}

.dropdown1,.dropdown2,.dropdown3,.dropdown4 {
    position: relative;
    display: inline-block;
  }  

.dropdown-content,
.dropdown-content-2,
.dropdown-content-3,
.dropdown-content-4 {
    transform: translateY(100em) rotateY(340deg);
    opacity: 0;
    position: absolute;
    background-color:rgb(93 ,149 ,0);
    min-width: 160px;
    left: 0.2em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0px 0px 5px 5px;
  }
  
  .dropdown-content a,
  .dropdown-content-2 a,
  .dropdown-content-3 a,
  .dropdown-content-4 a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 0.6em;
    border-radius: 0px 0px 5px 5px;
  }
  
  .dropdown-content a:hover,
  .dropdown-content-2 a:hover,
  .dropdown-content-3 a:hover,
  .dropdown-content-4 a:hover {
      background: rgba(255, 255 , 255);
      color:rgb(93 ,149 ,0);
    }

  
  .dropdown1:hover .dropdown-content,
  .dropdown2:hover .dropdown-content-2,
  .dropdown3:hover .dropdown-content-3,
  .dropdown4:hover .dropdown-content-4 {
    display: block;
    width: 98%;
    opacity: 1;
    transform: translateY(0em) rotateY(0deg);
    transition: all 0.3s;
  }